* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #191919;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#header {
  padding: 35px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: white;
}

.header nav {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.header nav a {
  color: white;
  text-decoration: none;
}

.header nav a:hover {
  color: blue;
}

#home {
  padding: 60px 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-text h1 {
  width: 500px;
  font-size: 70px;
  color: white;
  align-items: center;
  font-weight: 400;
  margin-bottom: 50px;
}

.home-text h6 {
  color: white;
}

.home-text h1 span {
  font-weight: 700;
}

.home-logo img {
  gap: 60px;
}

#episodes {
  padding: 60px 0;
}

.episodes {
  /* gap: 50px; */
}

.episodes-box {
  background: black;
  padding: 35px;
  border-radius: 50px;
}

.episodes-top {
  background: #191919;
  display: flex;
  justify-content: space-between;
}
.episodes-top h1 {
  font-size: 64px;
  color: white;
}
.episodes-top button {
  font-size: 20px;
  background: #118da8;
  color: white;
  border-radius: 8px;
}

.episodes-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 100px;
}

.episodes-text {
  display: flex;
  flex-flow: column;
  gap: 40px;
}

.episodes-btn button {
  font-size: 18px;
  background: black;
}

.episodes-text h5 {
  font-size: 17px;
}

.episodes-text h1 {
  font-size: 64px;
  color: white;
  width: 700px;
}

.episodes-text p {
  font-size: 22px;
  color: white;
  width: 750px;
}

.episodes-text button {
  font-size: 18;
  padding: 15px 25px;
  background: #118da8;
  color: white;
  border-radius: 8px;
  width: 160px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
}

.about-text h1 {
  font-size: 65px;
  color: #fff;
  padding: 30px 0;
}

.about-text p {
  font-size: 22px;
  width: 550px;
  color: #fff;
}

.about-text h5 {
  color: #118da8;
  padding: 20px 0;
}

.submit {
  padding-block: 70px;
  width: 1550px;
  height: 200px;
  background: black;
  border-radius: 30px;
  color: #fff;
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  margin: 200px 0;
}

.submit-email {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0 30px;
}

.submit h1 {
  font-size: 72px;
  width: 430px;
}

.submit h5 {
  font-size: 18px;
  color: #118da8;
}

.submit-email input {
  width: 500px;
  height: 80px;
  background: #191919;
  margin-bottom: 20px;
  border-radius: 8px;
}

.submit-email input {
  font-size: 24px;
}

.submit-email button {
  background: #118da8;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
}

.feedback {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-box {
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-block: 30px;
  background: black;
  width: 420px;
  height: 320px;
  border-radius: 32px;
}

.feedback-box h3 {
  font-size: 36px;
  width: 310px;
}

.feedback-box h5 {
  font-size: 24x;
}

#footer {
  width: 90%;
}

.footer-theme h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: start;
  gap: 35pc;
  padding: 200px 0;
}

.footer-ul {
  display: flex;
  gap: 100px;
  font-size: 20px;
}

ul li {
  list-style: none;
  color: white;
  margin-bottom: 10px;
}
